@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Ruslan+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAECB6;
    z-index: -10;
    
}

.subscribe-section {
    margin: auto;
    margin-top: 4rem;
    width: 50rem;
    /* min-height: 25rem; */
    /* max-height: fit-content; */
    /* top: 5506px;
    left: 255px; */
    gap: 2rem;
    /* opacity: 0px; */
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 3rem;
    /* border: 2px solid black; */
    border: 1px solid black;
    box-shadow: 4px 4px 0px 0px #000000;
    position: relative;
    /* overflow: hidden; */
}

.subscribe-section h1 {
    font-size: 4rem;
    font-family: "Ruslan Display", sans-serif;
    font-weight: 400;
}

.subscribe-section input {
    background-color: #FAECB6;
    border: 1px solid black;
    color: black;
    width: 100%;
    height: 3.5rem;
    font-size: 2rem;
    padding: 0.7rem;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 600;
}

.subscribe-section button {
    background-color: #FAECB6;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid black;
    box-shadow: 4px 4px 0px 0px #000000;
    max-width: fit-content;
    height: 48px;
    z-index: 3;
	position: relative;
}

.subscribe-section button span{
    max-width: fit-content;
    height: 48px;
    gap: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    /* font-family: "Bricolage Grotesque", sans-serif; */
    font-weight: 600;
}

.subscribe-section button svg {
    width: 2.2rem;
    height: 2.2rem;
    padding: 0.5rem;
    gap: 0px;
    opacity: 0px;
}

.subscribe-section img {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.team-section {
    text-align: center;
    margin-top: 8rem;
    max-height: fit-content;
    width: 100%;
    position: relative;
}

.team-section h1 {
    font-size: 4rem;
    font-family: "Ruslan Display", sans-serif;
    font-weight: 400;
}

.team-section p {
    font-size: 2rem;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 600;
}

.team-section img {
    width: 100%;
    /* height: 100%; */
    
}

.team-section .sunshine {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.team-section .team-scage {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-wrap: nowrap;
    opacity: 70%;
    font-size: 5rem;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 600;
    color: white;
}

@media screen and (max-width: 900px) {
    .subscribe-section {
        width: 90%;
        margin-top: 2rem;
        padding: 2rem;
        
    }

    .subscribe-section h1 {
        font-size: 2.5rem;
    }

    .subscribe-section input {
        font-size: 1.5rem;
        height: 3rem;
    }

    .subscribe-section button span {
        font-size: 1rem;
    }

    .team-section {
        margin-top: 4rem;
    }

    .team-section h1 {
        font-size: 2.5rem;
    }

    .team-section p {
        font-size: 1.5rem;
        padding: 0 1rem;
    }

    .team-section .team-scage {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 480px) {
    .subscribe-section {
        padding: 1rem;
    }

    .subscribe-section h1 {
        font-size: 2rem;
    }

    .subscribe-section input {
        font-size: 1.2rem;
        height: 2.5rem;
    }

    .subscribe-section button {
        padding: 5px 10px;
        height: 40px;
    }

    .subscribe-section button span {
        font-size: 0.7rem;
    }

    .subscribe-section button svg {
        width: 1.8rem;
        height: 1.8rem;
    }

    .team-section h1 {
        font-size: 2rem;
    }

    .team-section p {
        font-size: 1.2rem;
    }

    .team-section .team-scage {
        font-size: 2rem;
    }
}