.hero{
	opacity: 100%;
	/* z-index: 0; */
	position: relative;
	width: 100%;
}
.hero .details{
	position: absolute;
	top: 2rem;
	right: 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 2;
}
.hero .content{
	padding: 10rem 5rem 2.5rem 5rem;
	/* position: relative; */
	z-index: 2;
}
.hero .content .title{
	font-size: 8rem;
	line-height: 6rem;
}
.hero .content .tagline{
	display: flex;
	flex-direction: row;
	font-size: 3rem;
	line-height: 3rem;
}
.hero .content button{
	margin-top: 2rem;
}
.hero .rainbow{
	width: 100%;
	max-width: 100%;
	position: relative;
	border: 0px solid red;
	height: 15rem;
	margin-top: 2rem;
	z-index: 0;
	opacity: 100%;
}
.hero .rainbow img{
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.hero .rainbow .days{
	font-size: 10rem;
	line-height: 10rem;
	position: absolute;
	top: 0;
	right: 20%;
	color: var(--color3);
}
.hero .rainbow .text{
	font-size: 4rem;
	position: absolute;
	top: 40%;
	right: 10%;
	text-transform: uppercase;
	color: var(--color3);
}

.highlight{
	color: var(--color1);
}