img {
    display: block;
}

/* -------
        utility classes for s3 and s4
--------------------------------*/
.section3 .heading,
.section4 .heading {
    font-family: "Ruslan Display";
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
}
.section3 .description,
.section4 .description {
    font-family: "Bricolage Grotesque";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

/* ------------------------------- */

.section3,
.section4 {
    position: relative;
    width: 100vw;
    min-height: 100vh;
}
.section3__main,
.section4__main {
    padding: 60px;
    grid-row-gap: 3rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content 1fr min-content;
}
.organisers__container {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(4, 1fr);
}

.organisers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:nth-child(1) .organisers__img {
        background-color: #2bbaa5;
    }
    &:nth-child(2) .organisers__img {
        background-color: #93d3ae;
    }
    &:nth-child(3) .organisers__img {
        background-color: #f9a822;
    }
    &:nth-child(4) .organisers__img {
        background-color: #f96635;
    }
}

.organisers__img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.btn__container {
    padding-top: 6vh;
    display: grid;
    place-items: center;
}

.side__image {
    width: 378px;
    height: 452px;
    position: absolute;
    top: calc(100% - 226px);
    transform: translateX(-50%);

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* section4 */
.sponsors__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .top__sponsors,
    & .other__sponsors {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .top__sponsors .sponsors {
        width: 300px;
        height: 200px;
    }
    & .other__sponsors .sponsors {
        width: 240px;
        height: 160px;
    }

    & .sponsors img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.cover__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    /* --------- problem */
    mix-blend-mode: multiply;
    /* ------------------------- */

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        clip-path: circle(60% at 50% 8%);
        /* -webkit-mask-image: radial-gradient(
            circle at 50% 8%,
            rgba(0, 0, 0, 1) 60%,
            rgba(0, 0, 0, 0) 100%
        );
        mask-image: radial-gradient(
            circle at 50% 8%,
            rgba(0, 0, 0, 1) 60%,
            rgba(0, 0, 0, 0) 100%
        );
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: cover;
        mask-size: cover; */
    }
}

@media screen and (max-width: 1024px) {
    .section3 .heading,
    .section4 .heading {
        font-size: 3rem;
    }

    .section3 .description,
    .section4 .description {
        font-size: 1.15rem;
    }

    .section3,
    .section4 {
        min-height: 80vh;
    }

    .section3__main,
    .section4__main {
        padding: 60px;
        grid-row-gap: 3rem;
    }

    .organisers__img {
        width: 115px;
        height: 115px;
    }
    .sponsors__container {
        & .top__sponsors .sponsors {
            width: 220px;
            height: 100px;
        }
        & .other__sponsors .sponsors {
            width: 160px;
            height: 90px;
        }
    }
}
@media screen and (max-width: 768px) {
    .section3 .heading,
    .section4 .heading {
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .section3 .description,
    .section4 .description {
        font-size: 1rem;
    }

    .section3__main,
    .section4__main {
        padding: 10px;
        grid-row-gap: 1rem;
    }
    .organisers__container {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 1rem;
    }
    .organisers__img {
        width: 75px;
        height: 75px;
    }
    .sponsors__container {
        & .top__sponsors .sponsors {
            width: 95px;
            height: 55px;
        }
        & .other__sponsors .sponsors {
            width: 75px;
            height: 40px;
        }
    }
    .side__image {
        width: 189px;
        height: 226px;
        top: calc(100% - 113px);
    }
}
