.section4 {
    position: relative;
    width: 100vw;
    min-height: 100vh;

    & .section4__main {
        padding: 60px;
        grid-row-gap: 3rem;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: min-content 1fr min-content;

        & .heading {
            font-family: "Ruslan Display";
            font-size: 6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            text-transform: uppercase;
            text-align: center;
            z-index: 2;

        }

        & .sponsors__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & .top__sponsors,
            & .other__sponsors {
                display: flex;
                align-items: center;
                justify-content: center;

                & .sponsors img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    /* mix-blend-mode: multiply; */
                }
            }

            & .top__sponsors .sponsors {
                width: 300px;
                height: 200px;
                z-index: 2;
            }
            & .other__sponsors .sponsors {
                width: 240px;
                height: 160px;
                z-index: 2;
            }
        }

        .btn__container {
            padding-top: 6vh;
            display: grid;
            place-items: center;

            & svg {
                transform: rotate(90deg);
            }
        }
    }

    & .cover__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;
            mask-image: radial-gradient(
                circle at 50% 0%,
                rgba(0, 0, 0, 1) 50%,
                rgba(0, 0, 0, 0) 75%
            );
            -webkit-mask-image: radial-gradient(
                circle at 50% 0%,
                rgba(0, 0, 0, 1) 50%,
                rgba(0, 0, 0, 0) 75%
            );
            /* mix-blend-mode: multiply; */
        }
    }

    /* utility */
    & img {
        display: block;
    }

    & .description {
        font-family: "Bricolage Grotesque";
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
    }

    & .centered {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1024px) {
    .section4 {
        min-height: 80vh;
    }

    .section4 .description {
        font-size: 1.15rem;
    }

    .section4 .heading {
        font-size: 3rem;
    }

    .section4 .section4__main {
        padding: 60px;
        grid-row-gap: 3rem;
    }

    .section4 .sponsors__container {
        & .top__sponsors .sponsors {
            width: 220px;
            height: 100px;
        }
        & .other__sponsors .sponsors {
            width: 160px;
            height: 90px;
        }
    }
}

@media screen and (max-width: 768px) {
    .section4 .heading {
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .section4 .description {
        font-size: 1rem;
    }

    .section4 .section4__main {
        padding: 10px;
        grid-row-gap: 1rem;
    }

    .section4 .sponsors__container {
        & .top__sponsors .sponsors {
            width: 95px;
            height: 55px;
        }
        & .other__sponsors .sponsors {
            width: 75px;
            height: 40px;
        }
    }
}
